* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eaeaea;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #1e1e1e;
  line-height: 1.6;
}

header {
  background-color: #111;
  border-bottom: 1px solid #3a3a3a;
}

.header-contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 1rem 2rem;
}

.logo {
  color: #9eff2e;
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 1px;
}

.navbar a {
  text-decoration: none;
  color: #cfcfcf;
  margin: 0 1.5rem;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #9eff2e;
}

.container-cartas-busqueda {
  display: grid;
  grid-template-columns: 22rem 1fr;
  max-width: 1300px;
  margin: 2rem auto;
  gap: 2rem;
}

.busqueda {
  margin: 1.5rem;
  width: 20rem;
  height: fit-content;
  border: 1px solid #444;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 1rem;
  color: #ccc;
}

.cartas {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 30px;
}

.cartas a {
  text-decoration: none;
}

.carta {
  background-color: #2b2b2b;
  border: 1px solid #3f3f3f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  height: 25rem;

}

.carta:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 12px rgba(158, 255, 46, 0.3);
}


.carta-img {
  width: 150px;
  height: 150px;
  margin: 15px;
  border-radius: 8px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carta h3 {
  color: #9eff2e;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.carta p {
  color: #bfbfbf;
  font-size: 0.9rem;
  text-align: center;
  margin: 15px;
}

.busqueda a {
  text-decoration: none;
  color: #bfbfbf;
  transition: color 0.3s ease-in-out;
}

.busqueda a:hover {
  color: #9eff2e;
}

.busqueda li {
  list-style-type: none;
  margin: 5px 0;
}

.busqueda h3 {
  color: #9eff2e;
}

.busqueda input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: border-color 0.2s ease-in-out;
}

.busqueda input {
  flex: 1;
  text-align: center;

}

.busqueda input:focus {
  border-color: #9eff2e;
  outline: none;
}

.carta .precio {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0;
}